
@import 'partials/variables';
@import 'partials/import_fonts';

@function testBackground($color){
  // @return rgba($color, 0.15);
  @return rgba($color, 0.0);
}


//*********************       Defaults
*{
  font-family: sans-serif;
  margin: 0;
  color: $default-text-color;
}
body{
  background: $background-color;
  padding: 24px 48px 0 180px;
  // padding-left: 180px;
}

a{
  color: $accent-color;
  text-decoration: none;
}


.button{
  background: none;
  border: 1px solid $accent-color;
  border-radius: 5px;
  padding: 0.8em 1.5em;
  color: $accent-color;
}


p{
    width: 450px;
    color: $default-text-color;
}



.container{
  max-width: 900px;
}







nav{
  display: flex;
  justify-content: flex-end;
  background: testBackground(pink);
  ul{
    display: flex;
    list-style: none;
    background: testBackground(red);
    align-items: center;
    justify-content: space-around;
    li{
      margin: 0 24px;
      &:last-child{ // for equally dividing space
        padding-right: 24px;
        background: testBackground(yellow);
      }
    }

  }
}
header{
  background: testBackground(red);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-top: -80px;

  .heading-supporting-text{
    color: $accent-color;
    margin: 24px 0 8px 0;
  }
  .main-heading{
    color: $white;
    font-size: 3em;
  }
  .main-sub-heading{
    font-size: 2.8em;
    margin-bottom: 48px;
  }
  .heading-description{
    margin-bottom: 24px;
  }
}

section{
  height: 100vh;
  background: testBackground(yellow);
  .sub-heading{
    font-size: 1.8em;
    color: $white;
    position: relative;
    background: testBackground(pink);
    span{
      color: $accent-color;
      font-size: 0.6em;
      margin-right: 16px;
    }

    &::after{
      content: "";
      width: 40%;
      height: 1px;
      background: $white;
      position: absolute;
      top: 0.5em;
      margin-left: 24px;
    }



  }
}



.about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    .sub-heading{
      margin-bottom: 48px;
    }
    p{
      margin-bottom: 24px;
    }
    // align-items: flex-start;
    .about-content{
      display: flex;
      justify-content: space-between;

    }
    .list-item-container{
      display: flex;
      li {
        list-style-type: none;
        position: relative;
        padding-left: 10px;
        margin: 8px;

        &::before{
          content: "\25BA \0020";
          font-size: 0.6em;
          position: absolute;
          top: 0.3em;
          left: -10px;
          color: $accent-color;
        }
      }

    }

    .image{
      width: $profile-image-width-height;
      height: $profile-image-width-height;
      position: relative;
      background: pink;


      img{
        position: relative;
        z-index: 1;
        filter: grayscale(100%);


      }
      &::before{
        content: "";
        display: block;
        position: absolute;
        width: $profile-image-width-height;
        height: $profile-image-width-height;
        top: 16px;
        left: 16px;
        border: 2px solid $accent-color;
        // background: red;
        z-index: 0;
      }
      &::after{
        // content: "";
        // display: block;
        // position: absolute;
        // width: $profile-image-width-height;
        // height: $profile-image-width-height;
        // top: 0;
        // left: 0;
        // background: red;
        // // background: rbga($accent-color,1);
        // z-index: 2;
      }
    }
    // .picture-container{
    //     background: testBackground(pink);
    //     position: relative;
    //
    //   img{
    //     width: 200px;
    //     height: 200px;
    //     position: relative;
    //     // opacity: 0.1;
    //     background: blue;
    //

    //   }
    //
    //
    // }
}
