
@import 'partials/variables';
@import 'partials/import_fonts';


//*********************       Defaults
*{
  font-family: 'Calibre';
  font-weight: normal;
  font-size: 16px;
  margin: 0;
  color: $default-text-color;
  box-sizing: border-box;
}
*::after,*::before{
  box-sizing: inherit;
}
body{
  background: $background-color;
  padding: getGutter(1);
  // margin-top: getGutter(4);
}

a{
  color: $accent-color;
  text-decoration: none;
}


.button{
  font-family: $sfmono-font;
  font-weight: normal;
  background: none;
  border: 1px solid $accent-color;
  border-radius: 5px;
  padding: 0.5em 1em;
  color: $accent-color;
  font-size: 0.8em;
  &:hover{
    background: rgba($accent-color,0.1);
    cursor: pointer;
  }

}


p{
    // width: 550px;
    font-size: 0.8em;
    color: $default-text-color;
}


.container{
  max-width: 1000px;
  margin: 0 auto;
  // background: pink;
}


.sub-heading{
  font-size: 1.5em;
  position: relative;
  text-align: center;
  font-family: $sfmono-font;
  font-weight: bold;
  color: $white;
  margin-top: getGutter(4);
  margin-bottom: getGutter(4);
  span{
    font-family: $sfmono-font;
    color: $accent-color;
  }
  &::after{
    content: "";
    width: 40%;
    height: 1px;
    background: $white;
    position: absolute;
    top: 0.7em;
    margin-left: getGutter(1);
    display: none;
  }
}




nav{
  display: flex;
  justify-content: flex-end;
  margin-right: getGutter(3);
  display: none;
  ul{
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-around;
    li{
      margin: 0 getGutter(3);
      a,span{
        font-family: $sfmono-font;
        font-size: 1em;
      }
      span{
        color: $accent-color;
        margin-right: getGutter(1);
      }
      a{
        color: $white;
        &.active, &:hover{
          color: $accent-color;
        }
      }

      &:last-child{ // for equally dividing space
        padding-right: 24px;
      }
    }

  }
  .button{
  }
}

header{
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  // margin-top: getGutter(-8);
  .heading-supporting-text{
    color: $accent-color;
    font-family: $sfmono-font;
    font-weight: normal;
    font-size: 0.8em;
    margin-bottom: getGutter(1);
  }
  .main-heading{
    color: $white;
    font-weight: bold;
    font-size: 2em;
    line-height: 1em;
    // margin-bottom: getGutter(1);
  }
  .main-sub-heading{
    font-weight: bold;
    font-size: 1.8em;
    line-height: 1em;
    margin-bottom: getGutter(4);

  }
  .heading-description{
    font-weight: 300;
    margin-bottom: getGutter(2);
  }
  .button{
    margin: 0 auto;
  }



}

.about{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    .about-content{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

    }
    p{
      margin: getGutter(1) 0;
    }

    .list-item-container{
      margin-top: getGutter(1);
      padding-bottom: getGutter(4);
      ul{
        padding: 0  getGutter(2);
        margin: 0;
      }
      li {
        list-style-type: none;
        position: relative;
        padding-left: 10px;

        &::before{
          content: "\25BA \0020";
          font-size: 0.6em;
          position: absolute;
          top: 0.2em;
          left: -10px;
          color: $accent-color;
        }
      }

    }

    .image{
      width: 100px;
      height: 100px;
      position: relative;
      margin-bottom: getGutter(4);

      img{
        position: relative;
        z-index: 1;
        width: 100%;
        height: 100%;
        border-radius: 2px;

      }
      &::before{
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 16px;
        left: 16px;
        border: 2px solid $accent-color;
        z-index: 0;
      }



      &::after{
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: $accent-color;
        z-index: 2;
        opacity: 0.5;
      }


      &:hover{
        &::before{
          top: 8px;
          left: 8px;
        }
        &::after{
          opacity: 0;
        }
      }

    }
}


@media (max-width: 900px){ // we have two different styles for work
  .work{
    margin-bottom: getGutter(15);
    .project-item{
      padding: getGutter(1);
      background: #172a45;
      border-radius: 2px;
      margin: getGutter(2) 0;
      .project-image{
        display: none;
      }

      .project-title{
        font-family: $calibre-font;
        // font-weight: bold;
        color: $white;
        text-align: left;
        font-size: 1.4em;
        padding: getGutter(1) 0;
      }
      .project-technologies{
        list-style: none;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        padding: 0;
        font-size: 0.8em;
        margin: getGutter(1) 0;
        li{
          font-family: $sfmono-font;
          &::after{
            content: ",";
            font-size: 0.8em;
          }
          &:last-child:after{
            content: "";
          }
        }
      }
      .project-links{
        display: flex;
        justify-content: flex-end;
        svg{
          width: 16px;
          height: 16px;
          box-sizing: content-box;
          padding: getGutter(1);
          fill: $default-text-color;
          &:hover{
            fill: $accent-color;
          }

        }
      }
    }
    .button{
      margin: getGutter(4) auto;
      display: block;
    }
  }
}
.contact{
    min-height: 100vh;

    .contact-content{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;


      .contact-form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: stretch;
        .form-item{
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: stretch;
        }

        input[type='text'],input[type='email'],textarea{
          width: 100%;
          padding: getGutter(2);
          margin: 2px;
          border-radius:2px;
          border: none;
          background: #172a45;

          &::placeholder{
            color: $default-text-color;
          }
        }


        .button{
          align-self: flex-end;
          margin: getGutter(1) 0;
        }
      }


    }
    .contact-info{
      list-style: none;
      padding: 0;

      li{
        display: flex;
        align-items: center;
        // justify-content: center;
        margin: getGutter(1) 0;
        img{
          width: 24px;
          height: 24px;
          margin-right: getGutter(2);
        }
      }
    }
}




// Media queries
@media (min-width : 320px){
  body{
    padding-left: getGutter(2);
    padding-right: getGutter(2);
  }
  .sub-heading{
    font-size: 2.5em;
  }
  p{
    font-size: 1em;
  }

  header{
    .main-heading{
      font-size: 3em;
    }
    .main-sub-heading{
      font-size: 2.5em;
    }
    .button{
      margin: 0;
    }
  }
  .about{
      .image{
        width: 150px;
        height: 150px;
      }
  }
}
@media (min-width : 500px) {
  body{
    padding-left: getGutter(3);
    padding-right: getGutter(3);
  }
  .sub-heading{
    font-size: 3em;
  }
  p{
    font-size: 1.2em;
    // width: 500px;
  }

  .button{
    font-size: 1em;
  }
  header{
    .heading-supporting-text{
      font-size: 1em;
    }
    .main-heading{
      font-size: 4em;
    }
    .main-sub-heading{
      font-size: 3em;
      // margin-bottom: getGutter(5);
    }
    .button{
      margin: 0;
    }
  }
  .about{
      .image{
        width: 200px;
        height: 200px;
      }
  }
  .work{
    .project-items-container{
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      .project-item{
        flex-basis: 48%;
      }
    }
  }

}
@media (min-width : 620px){
  body{
    padding-left: getGutter(3);
    padding-right: getGutter(3);
  }
  .sub-heading{
    font-size: 3em;
  }
  p{
    font-size: 1.2em;
    width: 600px;
    text-align: left;
  }

  .button{
    font-size: 1em;
  }
  header{
    .heading-supporting-text{
      font-size: 1em;
    }
    .main-heading{
      font-size: 4em;
    }
    .main-sub-heading{
      font-size: 3em;
      // margin-bottom: getGutter(5);
    }
    .button{
      margin: 0;
    }
  }
  .about{
    .about-content{
      align-items: flex-start;
      justify-content: flex-start;
    }
      .picture-container{
        align-self: center;
        // display: block;
        .image{
          width: 200px;
          height: 200px;
        }
      }

  }
  .work{
    .project-items-container{
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      .project-item{
        flex-basis: 48%;
      }
    }
  }
  .contact{
    .contact-content{
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      .contact-info{
        width: 300px;
        padding-left: getGutter(4);
      }
    }
  }
}
@media (min-width : 800px ){
  nav{
    display: flex;
    margin-top: getGutter(2);
  }
  header{
    margin-top: getGutter(-4);
  }

  .contact{
    .contact-content{
      .contact-info{
        width: 450px;
      }
    }
  }
}
@media (min-width : 900px){
  .button{
    // font-size: 1.em;
  }

  .sub-heading{
    text-align: left;

    &::after{
      display: inline-block;
      margin-left: getGutter(4);
    }
  }

  header{
    .main-heading{
      font-size: 6em;
    }
    .main-sub-heading{
      font-size: 5.5em;
      line-height: 0.8em;
    }
    .button{
      margin: 0;
    }
  }
  .about{
    .about-content{
      flex-direction: row-reverse;
      align-items: flex-start;
      justify-content: space-between;
    }
    .picture-container{
      margin: getGutter(2);
      align-self: flex-start;
      .image{
        width: 200px;
        height: 200px;
      }
    }
  }
  .work{
    padding-bottom: getGutter(2);
    .project-items-container{
      display: flex;
      flex-direction: column;
      justify-content: center;

      .project-item{
        position: relative;
        margin: getGutter(4) getGutter(8);
        display: block;
        .project-image{
          overflow: hidden;
          display: block;
          position: relative;
          img{
            position: absolute;
            top: 0;
            z-index: 1;
            width: 520px;
            height: 300px;
          }
        }
        .project-title{
          padding: getGutter(1) 0;
          font-family: $sfmono-font;
          font-size: 2em;
          font-weight: bold;
          color: $white;
        }
        .project-description{
          background: $project-description-background;
          padding: 24px;
          position: relative;
          z-index: 2;

        }
        .project-technologies{
          margin: getGutter(1) 0;
          list-style: none;
          display: flex;
          padding: 0;

          li{
            font-family: $sfmono-font;
            &::after{
              content: ",";
              font-size: 1.2em;
            }
            &:last-child:after{
              content: "";
            }
          }
        }

        .project-links{
          display: flex;
          svg{
            width: 24px;
            height: 24px;
            box-sizing: content-box;
            padding: 0 8px;
            fill: $default-text-color;

            &:hover{
              fill: $accent-color;
            }

          }
        }
      }



      .project-item.ltr{
          display: grid;
          grid-template-columns: 400px 120px auto;
          grid-template-rows: 100px 100px 100px ;
          position: relative;
          .project-image{
            grid-column-start: 1;
            grid-column-end: 3;
            grid-row-start: 1;
            grid-row-end:4;
          }
          .project-title{
            grid-row-start: 1;
            margin-top: auto;
            grid-row-end: 2;
            grid-column-start: 3;
            grid-column-end: 4;
            text-align: right;
          }
          .project-description{
              grid-column-start: 2;
              grid-column-end: 4;
              grid-row-start: 2;
              grid-row-end: 3;
          }
          .project-technologies{
            grid-column-start: 3;
            grid-column-end: 4;
            grid-row-start: 3;
            grid-row-end: 3;
            justify-content: flex-end;
          }
          .project-links{
            grid-column-start: 3;
            grid-column-end: 4;
            grid-row-start: 3;
            grid-row-end: 4;
            justify-content: flex-end;
            align-items: flex-end;
            svg{
              padding-top: getGutter(2);
            }
          }
      }
      .project-item.rtl{
          display: grid;
          grid-template-columns: auto 120px 400px;
          grid-template-rows: 100px 100px 100px ;
          position: relative;
          .project-image{
            grid-column-start: 2;
            grid-column-end: 4;
            grid-row-start: 1;
            grid-row-end:4;
          }
          .project-title{
            grid-row-start: 1;
            margin-top: auto;
            grid-row-end: 2;
            grid-column-start: 1;
            grid-column-end: 2;
            text-align: left;
          }
          .project-description{
              grid-column-start: 1;
              grid-column-end: 3;
              grid-row-start: 2;
              grid-row-end: 3;
          }
          .project-technologies{
            grid-column-start: 1;
            grid-column-end: 3;
            grid-row-start: 3;
            grid-row-end: 3;
            justify-content: flex-start;
          }
          .project-links{
            grid-column-start: 1;
            grid-column-end: 3;
            grid-row-start: 3;
            grid-row-end: 4;
            flex-direction: row-reverse;
            justify-content: flex-end;
            align-items: flex-end;
            svg{
              padding-top: getGutter(2);
              transform: scaleX(-1);
            }
          }
      }
    }
    .button{
      margin: getGutter(4) auto;
      display: block;
    }

  }

  .contact{
    .contact-content{
      justify-content: flex-start;
      .contact-info{
        width: 500px;
        margin-left: getGutter(4);
      }
    }
  }
}
