
@import 'partials/variables';
@import 'partials/import_fonts';

@function testBackground($color){
  // @return rgba($color, 0.2);
  @return rgba($color, 0.0);
}


//*********************       Defaults
*{
  font-family: sans-serif;
  margin: 0;
  color: $default-text-color;
}
body{
  background: $background-color;
  padding: 24px 48px 0 180px;
  // padding-left: 180px;
}

a{
  color: $accent-color;
  text-decoration: none;
}


.button{
  background: none;
  border: 1px solid $accent-color;
  border-radius: 5px;
  padding: 0.8em 1.5em;
  color: $accent-color;
}


p{
    width: 450px;
    color: $default-text-color;
}








nav{
  display: flex;
  justify-content: flex-end;
  background: testBackground(pink);
  ul{
    display: flex;
    list-style: none;
    background: testBackground(red);
    align-items: center;
    justify-content: space-around;
    li{
      margin: 0 24px;
      &:last-child{ // for equally dividing space
        padding-right: 24px;
        background: testBackground(yellow);
      }
    }

  }
}
header{
  background: testBackground(red);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-top: -80px;

  .heading-supporting-text{
    color: $accent-color;
    margin: 24px 0 8px 0;
  }
  .main-heading{
    color: $white;
    font-size: 3em;
  }
  .main-sub-heading{
    font-size: 2.8em;
    margin-bottom: 48px;
  }
  .heading-description{
    margin-bottom: 24px;
  }
}
