.admin_container{
   max-width: 600px;
   margin: getGutter(6) auto;
   display: flex;
   flex-direction: column;
   align-items:center;
   justify-content: center;

}

a{
  font-size: 1.2em;
  font-family: $sfmono-font;

  &:hover:not(.button){
    padding-bottom: 4px;
    border-bottom: 1px solid $accent-color;
  }
}

h1{
  font-size: 3em;
  text-align: center;
  font-family: $sfmono-font;
  margin-bottom: getGutter(4);
  color: $white;
}


table{
  width: 100%;
  margin: 10px 0;
  font-family: $calibre-font;
  border-spacing: 0;
  // background: red;
  tbody{
    tr{
      &:hover{
          background: rgba($accent-color,0.1);
      }
    }
    td:nth-child(1){
      // background: red;
      // flex-basis: 50%;
      text-align: left;
      width: 50%;
      font-size: 1.5em;
      color: $white;
    }

    td{
      text-align: right;
      padding: getGutter(1);
      margin: 0;
      border: none;

    }

  }
}


.button{
  // align-self: flex-end;
  margin-bottom: getGutter(2);

}

tr:hover {background-color: #ddd;}



form{
  display: flex;
  flex-direction: column;
  // background: red;
  width: 80%;
}


input[type='text']{
  width: 100%;
  font-size: 1.2em;
  background: none;
  border: 1px solid rgba($accent-color,0.5);
  border-radius: 4px;
  margin: 5px;
  padding: 10px;
  font-family: $sfmono-font;
  font-weight: normal;
  color: $white;

  &::placeholder{
    color: rgba($white,0.2);
  }
}


.project_tech_input_container{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  border-radius: 5px;
  // border: 1px solid rgba($accent-color,0.5);
  // padding: getGutter(2);
  margin: getGutter(2) 0;
  input,.button{
    font-size: 0.8em;
  }
  .tech{
    width: 40%;
  }
}



.inputFileContainer{
  text-align: center;

  .no-js .inputfile + label {
      display: none;
  }

  .inputfile{
     width: 0.1px;
     height: 0.1px;
     opacity: 0;
     overflow: hidden;
     position: absolute;
     z-index: -1;
  }
  label{
    max-width: 80%;
    font-size: 1.25rem;
    /* 20px */
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.625rem 1.25rem;
    // color: #d3394c;
    /* 10px 20px */
    span{
      color: rgba($white,0.6);
      // font-family: $sfmono-font;
    }
    svg{
       width: 1em;
       height: 1em;
       vertical-align: middle;
       fill: currentColor;
       margin-top: -0.25em;
       margin-right: 0.25em;
       width: 100%;
       height: 100%;
       fill: $background-color;
    }
    figure {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background-color: $accent-color;
        display: block;
        padding: 20px;
        margin: 0 auto 10px;
    }
  }
  .inputfile:focus + label figure,
  .inputfile.has-focus + label figure,
  .inputfile + label:hover figure {
      background-color: darken($accent-color,10%);
  }
  .inputfile:focus + label,
  .inputfile.has-focus + label,
  .inputfile + label:hover {
      color: darken($accent-color,10%);
  }
  .inputfile:focus + label,
  .inputfile.has-focus + label {
      // outline: 1px dotted #000;
      // outline: -webkit-focus-ring-color auto 5px;
  }
}
