


$profile-image-width-height : 100px;
$project-image-width : 520px;
$project-image-height: 300px;

$sfmono-font : "SFMono", "Arial", sans-serif;
$calibre-font: "Calibre", "Arial", sans-serif;



// *********** Colors
//$background-color: #0a192f;
//$text-color: #e6f1ff;
//$text-color-secondary: #8892b0 ;
//$accent-color: #08f3d0;

$background-color: #0a192f;
$background-color-secondary: #172a45;
$text-color: #e6f1ff;
$text-color-secondary: #8892b0 ;
$accent-color: #08f3d0;

//





@function getGutter($multiple_of_8){
  @return $multiple_of_8*8px;
}
@function testBackground($color){
  @return rgba($color, 0.1);
}
// for local system
//@function resourceURL($path){
//    @return url("C:/Users/Shahzaib/Desktop/ShahzaibZaheer/resources/" + $path );
//}\

//for github
@function resourceURL($path){
    @return url("https://www.shahzaibzaheer.com/resources/" + $path );
}
