@font-face {
  font-family: "Calibre";
  src: url("/resources/fonts/Calibre_regular.woff") format("woff"), url("/resources/fonts/Calibre_regular.woff2") format("woff2"), url("/resources/fonts/Calibre_regular.ttf") format("truetype");
  /* Safari, Android, iOS */
  font-weight: normal; }
@font-face {
  font-family: "Calibre";
  src: url("/resources/fonts/Calibre_medium.woff") format("woff"), url("/resources/fonts/Calibre_medium.woff2") format("woff2"), url("/resources/fonts/Calibre_medium.ttf") format("truetype");
  /* Safari, Android, iOS */
  font-weight: medium; }
@font-face {
  font-family: "Calibre";
  src: url("/resources/fonts/Calibre_semibold.woff") format("woff"), url("/resources/fonts/Calibre_semibold.woff2") format("woff2"), url("/resources/fonts/Calibre_semibold.ttf") format("truetype");
  /* Safari, Android, iOS */
  font-weight: bold; }
@font-face {
  font-family: "SFMono";
  src: url("/resources/fonts/SFMono_regular.woff") format("woff"), url("/resources/fonts/SFMono_regular.woff2") format("woff2"), url("/resources/fonts/SFMono_regular.ttf") format("truetype");
  /* Safari, Android, iOS */
  font-weight: normal; }
@font-face {
  font-family: "SFMono";
  src: url("/resources/fonts/SFMono_semibold.woff") format("woff"), url("/resources/fonts/SFMono_semibold.woff2") format("woff2"), url("/resources/fonts/SFMono_semibold.ttf") format("truetype");
  /* Safari, Android, iOS */
  font-weight: bold; }
* {
  font-family: 'Calibre';
  font-weight: normal;
  font-size: 16px;
  margin: 0;
  color: #8892b0;
  box-sizing: border-box; }

*::after, *::before {
  box-sizing: inherit; }

body {
  background: #0a192f;
  padding: 8px; }

a {
  color: #08f3d0;
  text-decoration: none; }

.button {
  font-family: "SFMono";
  font-weight: normal;
  background: none;
  border: 1px solid #08f3d0;
  border-radius: 5px;
  padding: 0.5em 1em;
  color: #08f3d0;
  font-size: 0.8em; }
  .button:hover {
    background: rgba(8, 243, 208, 0.1);
    cursor: pointer; }

p {
  font-size: 0.8em;
  color: #8892b0; }

.container {
  max-width: 900px;
  margin: 0 auto; }

.sub-heading {
  font-size: 1.5em;
  position: relative;
  text-align: center;
  font-family: "SFMono";
  font-weight: bold;
  color: #e6f1ff;
  margin-top: 32px;
  margin-bottom: 32px; }
  .sub-heading span {
    font-family: "SFMono";
    color: #08f3d0; }
  .sub-heading::after {
    content: "";
    width: 40%;
    height: 1px;
    background: #e6f1ff;
    position: absolute;
    top: 0.7em;
    margin-left: 8px;
    display: none; }

nav {
  display: flex;
  justify-content: flex-end;
  margin-right: 24px; }
  nav ul {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-around; }
    nav ul li {
      margin: 0 24px; }
      nav ul li a, nav ul li span {
        font-family: "SFMono";
        font-size: 0.8em; }
      nav ul li span {
        color: #08f3d0;
        margin-right: 8px; }
      nav ul li a {
        color: #e6f1ff; }
        nav ul li a.active, nav ul li a:hover {
          color: #08f3d0; }
      nav ul li:last-child {
        padding-right: 24px; }

header {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center; }
  header .heading-supporting-text {
    color: #08f3d0;
    font-family: "SFMono";
    font-weight: normal;
    font-size: 0.8em;
    margin-bottom: 8px; }
  header .main-heading {
    color: #e6f1ff;
    font-weight: bold;
    font-size: 2em;
    line-height: 1em; }
  header .main-sub-heading {
    font-weight: bold;
    font-size: 1.8em;
    line-height: 1em;
    margin-bottom: 32px; }
  header .heading-description {
    font-weight: 300;
    margin-bottom: 16px; }
  header .button {
    margin: 0 auto; }

.about {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background: rgba(255, 0, 0, 0); }
  .about .about-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
  .about p {
    margin: 8px 0; }
  .about .list-item-container {
    margin-top: 8px;
    padding-bottom: 32px; }
    .about .list-item-container ul {
      padding: 0 16px;
      margin: 0; }
    .about .list-item-container li {
      list-style-type: none;
      position: relative;
      padding-left: 10px; }
      .about .list-item-container li::before {
        content: "\25BA \0020";
        font-size: 0.6em;
        position: absolute;
        top: 0.2em;
        left: -10px;
        color: #08f3d0; }
  .about .image {
    width: 100px;
    height: 100px;
    position: relative;
    margin-bottom: 32px; }
    .about .image img {
      position: relative;
      z-index: 1;
      width: 100px;
      height: 100px;
      border-radius: 2px; }
    .about .image::before {
      content: "";
      display: block;
      position: absolute;
      width: 100px;
      height: 100px;
      top: 16px;
      left: 16px;
      border: 2px solid #08f3d0;
      z-index: 0; }
    .about .image::after {
      content: "";
      display: block;
      position: absolute;
      width: 100px;
      height: 100px;
      top: 0;
      left: 0;
      background: #08f3d0;
      z-index: 2;
      opacity: 0.5; }
    .about .image:hover::before {
      top: 8px;
      left: 8px; }
    .about .image:hover::after {
      opacity: 0; }

.work {
  margin-bottom: 120px; }
  .work .project-item {
    padding: 8px;
    background: #172a45;
    border-radius: 2px;
    margin: 16px 0; }
    .work .project-item .project-image {
      display: none; }
    .work .project-item .project-title {
      font-family: "Calibre";
      color: #e6f1ff;
      text-align: left;
      font-size: 1.4em;
      padding: 8px 0; }
    .work .project-item .project-technologies {
      list-style: none;
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
      padding: 0;
      font-size: 0.8em;
      margin: 8px 0; }
      .work .project-item .project-technologies li {
        font-family: "SFMono"; }
        .work .project-item .project-technologies li::after {
          content: ",";
          font-size: 0.8em; }
        .work .project-item .project-technologies li:last-child:after {
          content: ""; }
    .work .project-item .project-links {
      display: flex;
      justify-content: flex-end; }
      .work .project-item .project-links svg {
        width: 16px;
        height: 16px;
        box-sizing: content-box;
        padding: 8px;
        fill: #8892b0; }
        .work .project-item .project-links svg:hover {
          fill: #08f3d0; }
  .work .button {
    margin: 0 auto;
    display: block; }

.contact {
  min-height: 100vh;
  background: rgba(255, 255, 0, 0); }
  .contact .contact-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .contact .contact-content .contact-form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: stretch; }
      .contact .contact-content .contact-form .form-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: stretch; }
      .contact .contact-content .contact-form input[type='text'], .contact .contact-content .contact-form input[type='email'], .contact .contact-content .contact-form textarea {
        width: 100%;
        padding: 16px;
        margin: 2px;
        border-radius: 2px;
        border: none;
        background: #172a45; }
        .contact .contact-content .contact-form input[type='text']::placeholder, .contact .contact-content .contact-form input[type='email']::placeholder, .contact .contact-content .contact-form textarea::placeholder {
          color: #8892b0; }
      .contact .contact-content .contact-form .button {
        align-self: flex-end;
        margin: 8px 0; }
  .contact .contact-info {
    list-style: none;
    padding: 0; }
    .contact .contact-info li {
      background: rgba(0, 0, 255, 0);
      display: flex;
      align-items: center;
      margin: 8px 0; }
      .contact .contact-info li img {
        width: 24px;
        height: 24px;
        margin-right: 16px; }

/*# sourceMappingURL=main.css.map */
